.container__detail{
    display: flex;
    padding-left: 100px;
    padding-top: 20px;
    margin-top: 25px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (min-width:768px){
    .container{
        width: 70%;
    }
}

.detail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
}
.detail_image{
    width: 40%;
    height: 450px;
    object-fit: contain;
    margin-left: 14px;
}
.separacionPrice{
    border-bottom: 1px solid black;
}
.description{
    justify-content: flex-end;
}
.content{
    margin-left: 25px;
    line-height: 25px;
    font-size: 14px;
}
.content h1 {
    margin-top: 15px;
    text-align: left;
}
.content h2 {
    margin-bottom: 10px;
}
.btn_comprar {
    width: 90px;
    text-align: center;
    margin-right: 25px;
    border-radius: 10%;
    font-size: 20px;
    color: rgb(10, 10, 10);
    border: 5px, black, 3px;
    background-color:  rgba(250, 163, 163, 0.562);
}
@media only screen and (max-width: 576px){
    .container__detail{
        display:inline-block;
        padding-left: 32px;
        margin-bottom: 14rem;
        padding-bottom: 0px;
    }
    .detail {
        width: 330px;
        padding: 0rem;
        font-size: 10px;
    }
    .detail_image{
        width: 100%;
        height: 50vh;
        margin: 0px;
        padding: 0px;
    }
    .content{
        max-width: 170px;
        margin-left: 20px;
        line-height: 16px;
        font-size: 10px;
    }
    .content h1 {
        margin-top: 15px;
        font-size: 16px;
    }
    .btn_comprar {
        margin-top: 5px;
        font-size: 15px;
    }
}

@media screen and (min-width:768px){
    .detail_image{
        width: 50%;
    }
    .container {
        padding-left: 3rem;
        width: 50%;
    }
}
@media screen and (max-width:767px){
    .detail_image{
        width: 30%;
    }
    .content{
        width: 30%;
    }
}
