.container__detail{
    display: flex;
    padding-left: 100px;
    padding-top: 20px;
    margin-top: 25px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
@media screen and (min-width:768px){
    .container{
        width: 70%;
    }
}

.detail {
    text-align: center;
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail_image{
    width: 80%;
    object-fit: contain;
    margin-left: 10px;
}

.content{
    text-align: left;
    margin-left: 38px;
}
.content h1 {
    margin-top: 15px;
    margin-right: 65px;
}
.content h2 {
    margin-bottom: 28px;
}
@media screen and (min-width:768px){
    .detail_image{
        width: 50%;
    }
    .container {
        padding-left: 3rem;
        width: 50%;
    }
}
@media screen and (max-width:767px){
    .detail_image{
        width: 30%;
    }
    .content{
        width: 30%;
    }
}
