*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerPrueba {
    display: grid;
    align-items: flex-end;
    padding: 20px;
    margin-left: 260px;
    justify-content: space-around;
}
.titulo {
    text-align: center;
}