*{
    margin: 0;
    padding: 0;
}

h1{
    height: 300px;
    text-align: center;
    padding-top: 160px;
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}