*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-color:bisque
}
h1{
    text-align: center;
    padding-top:35px;
    padding-bottom: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}