.ContactForm{
    border-bottom: 1px solid black;
    max-width: 500px;
    margin: 2rem auto;
    padding-top: 15px;
    padding-bottom: 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Luczida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
}
.labelForm{
    margin-top: 15px;
}
#message{
    height: 120px;
}
.inputForm{
    width: 500px;
    height: 25px;
    border-bottom: 1px solid black;
}
.btnFormCart{   
margin-top: 15px;
padding: 6px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 14px;
}
.btnFormCart:hover {
background-color: rgb(252, 56, 89);
border: 3px dotted white;
cursor: pointer;
}
.consulta{
    color: rgb(216, 49, 91);
    border-bottom: 1px solid black;
    margin: 2rem auto;
    max-width: 500px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 25px;
}
.enviado{
    margin: 4rem;
}
.datosContacto{
    color: rgb(216, 49, 91);
    border-bottom: 1px solid black;
    max-width: 500px;
    margin: 2rem auto;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.liCont{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 576px){
    .ContactForm{
        max-width: 300px;
        font-size: 11px;
        margin: 2rem;
    }
    .datosContacto{
        max-width: 300px;
        font-size: 12px;
        margin: 2rem;
        line-height: 15px;
        padding-left: 25px;
    }
    .inputForm{
        width: 300px;
        height: 25px;
    }
    .labelForm{
        max-width: 100px;
        margin: 0px;
    }
    .enviado{
        margin: 2rem;
        font-size: 15px;
    }
    .consulta{
        margin: 2rem auto;
        max-width: 300px;
        font-size: 15px;
    }
    .liCont{
        margin-bottom: 30px;
    }
}