*{
    margin: 0;
    padding: 0;
}
.main__marca{
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
nav{
    height: 90px;
    background-color: rgba(250, 163, 163, 0.562);
    float:center;
    padding-bottom: 5px;
}
.nav__linkMarca { 
    color: rgb(10, 10, 10);
    text-decoration: overline underline rgb(7, 7, 7);
    font-size: 30px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 16px;
    padding-top: 10px;
    letter-spacing: 5px;
}
.nav__barlist{
    margin-top: 15px;
}
nav ul{
    text-align: center;
}
li{
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li a{
    color: black;
}
li a:hover{
    color: rgb(248, 5, 98);
}
@media only screen and (max-width: 576px) {
    nav{
        height: 150px;
        width: 100%;
        padding-bottom: 5px;
    }
    .nav__linkMarca{
        font-size: 28px;
        letter-spacing: 2px;   
    }
    .nav__barlist{
        font-size: 12px;
        padding-bottom: 15px;
    }
    li{
        margin-left: 0px;
        margin-top: 4px;
        margin-bottom: 10px;
        
    }
}
@media screen and (min-width: 577px) and (max-width:767px){
    .nav__linkMarca { 
        font-size: 25px;
        letter-spacing: 2px;
    }
    .nav__barlist{
        margin-top: 20px;
    }
    li{
        font-size: 14px;
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media screen and (min-width: 767px) and (max-width: 800px){
    .nav__barlist{
        margin-top: 20px;
    }
    li{
        margin-left: 16px;
        margin-right: 16px;
    }
}