footer{
    height: 40px;
    background-image: linear-gradient(rgba(250, 209, 209, 0.788), rgba(248, 70, 70, 0.678));
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
}
@media only screen and (max-width: 576px){
    footer{
        text-align: center;
        font-size: 13px;
    }
}