footer{
    height: 40px;
    background-image: linear-gradient(rgba(250, 209, 209, 0.788), rgba(248, 70, 70, 0.678));
    float:center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 8px;
}