.counter {
    width: fit-content;
    background-color: #f88c8c8f;
    border-radius: 10%;
    margin-top: 25px;
    padding: 0.5rem;
    text-align: center;
}
.aumentarReducir{
    height: 25px;
    width: 25px;
    background-color:rgb(249, 240, 229);
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.agregarCarrito{
    height: 25px;
    width: 125px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(250, 240, 226);
}
@media only screen and (max-width: 576px){
    .counter {
        width: 127px;
        text-align: center;
        padding: 6px;
    }
    .aumentarReducir{
        height: 25px;
        width: 25px;
    }
    .agregarCarrito{
        height: 34px;
        width: 116px;
    }
}